NEURA/telegram.json
{
  "name": "NEURA Telegram AI File Agent",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "Telegram Trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "You are an AI assistant that extracts file requests.\n\nUser message: {{$json[\"message\"][\"text\"]}}\n\nReturn JSON:\n{\n  \"file_name\": \"\",\n  \"file_type\": \"document/video/image\"\n}"
      },
      "id": "AI Agent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = JSON.parse(items[0].json.text);\nreturn [{ json: data }];"
      },
      "id": "Parse JSON",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "query": "name contains '{{$json[\"file_name\"]}}'"
      },
      "id": "Search File",
      "name": "Search File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [800, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{$json[\"id\"]}}"
      },
      "id": "Download File",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1000, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"file_type\"]}}",
              "operation": "contains",
              "value2": "document"
            }
          ]
        }
      },
      "id": "If Document",
      "name": "If Document",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"file_type\"]}}",
              "operation": "contains",
              "value2": "video"
            }
          ]
        }
      },
      "id": "If Video",
      "name": "If Video",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "Send Document",
      "name": "Send Document",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1400, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "Send Video",
      "name": "Send Video",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "Send Image",
      "name": "Send Image",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1400, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]]
    },
    "Parse JSON": {
      "main": [[{ "node": "Search File", "type": "main", "index": 0 }]]
    },
    "Search File": {
      "main": [[{ "node": "Download File", "type": "main", "index": 0 }]]
    },
    "Download File": {
      "main": [
        [
          { "node": "If Document", "type": "main", "index": 0 },
          { "node": "If Video", "type": "main", "index": 0 }
        ]
      ]
    },
    "If Document": {
      "main": [[{ "node": "Send Document", "type": "main", "index": 0 }]]
    },
    "If Video": {
      "main": [[{ "node": "Send Video", "type": "main", "index": 0 }]]
    }
  }
}